@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido/a!</h1>
    <p>Para revisar a los empleados con sus renuncias e información extra primero ingresa con tu usuario y contraseña y luego entra a la pestaña de "Empleados".</p>
</div>
